{% if page.header.section.settings.module.enabled %}
</div></div>
{% set selfid = 'module-' ~ (page.parent.children|keys|index_of(page.slug) + 1) %}
<div class="cta-area {{selfid}}">
    <div class="container"><div class="container-inner">
        <div class="row">
            <div class="{% if page.header.section.settings.module.width == 1 %}col-12 col-md-12{% else %}col-lg-6{% endif %}">
                <div class="cmn-content st-content ctap {{selfid}}" {{ page.header.section.settings.module.width == 1 ? 'style="max-width:none;"' }}>
                    {% if page.header.section.settings.title.show %}   
                    
                        {% if page.header.section.settings.title.hsize == '1' %}<h2>{{page.header.title}}</h2>
                        {% elseif page.header.section.settings.title.hsize == '2' %}<h3>{{page.header.title}}</h3>
                        {% elseif page.header.section.settings.title.hsize == '3' %}<h4>{{page.header.title}}</h4>
                        {% elseif page.header.section.settings.title.hsize == '4' %}<h5>{{page.header.title}}</h5>
                        {% elseif page.header.section.settings.title.hsize == '5' %}<h6>{{page.header.title}}</h6>
                        {% else %}<h1>{{page.header.title}}</h1>
                        {% endif %}        

                    {% endif %}
                    <p>{{page.header.section.content.left.text|markdown|raw}}</p>
                    <a href="{{ page.header.section.content.left.pdfenabled ? page.media[page.header.section.content.left.pdfselect].url : page.header.section.content.left.link}}" class="box-btn type-2" {% if page.header.section.content.left.linkopen.type %}target="_blank"{% endif %}>
                        {{page.header.section.content.left.anchor}}<i class="far fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="offer-g-wrapper">
                    {% for card in page.header.section.content.right.cards %}
                    {# {% set icon = page.find('/images').media[card.icon].url | e %} #}
                    {% set img = false %}
                    {% if card.image is not empty %}
                    {% set img = (card.image | first).name %}
                    {% endif %}
                    <div class="single-offer ctap">
                        <div class="offer-icon">
                            {# <img src="{{icon}}" alt="Icon" class="img-fluid"> #}
                            {% if img != false %}
                            <img src="{{ url('theme://custom/images/' ~ img)  }}" alt="{{card.alt}}" class="img-fluid">
                            {% endif %}
                        </div>
                        <h5>{{card.heading}}</h5>
                        <p>{{card.text}}</p>
                        {% if card.pdfenabled %}
                        {% set link = page.media[card.pdfselect].url %}
                        {% else %}
                        {% set link = card.link %}
                        {% endif %}
                        <a href="{{link}}" class="cmn-link" {% if card.open.type %}target="_blank"{% endif %}>
                            {{card.anchor}}<i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div></div>
</div>
<div class="container"><div class="container-inner">
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
.cta-area.{{selfid}}{
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}

{% if page.header.section.settings.txtcolor %}
.cmn-content.ctap.{{selfid}} p, .single-offer.ctap.{{selfid}} p{
    color: {{page.header.section.settings.txtcolor}};
}
{% endif %}
</style>