{% if page.header.section.settings.module.enabled %}
{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}

{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}
<div class="row container img_module {{selfid}}"><div class="row container-inner">
{% endif %}  
<div class="col-12 col-md-12 section_wrap" style="{% if page.header.section.settings.bgcolor %} background-color: {{page.header.section.settings.bgcolor}};{% endif %}" >   
    <div class="container">
    {% if page.header.section.settings.title.show %}
    <div class="title_wrap cmn-content">
    
                {% import 'macros/macros.html.twig' as utils %}
                {% set subhsize = utils.validate_hsize(page.header.section.settings.subtitle.hsize, 6)|trim %}
                {% set hsize = utils.validate_hsize(page.header.section.settings.title.hsize, 3)|trim %}

                {% if header.section.settings.title.order == 1 %}
                    {% if page.header.section.subtitle %}
                        <h{{subhsize}} class="subh">{{page.header.section.subtitle}}</h{{subhsize}}>       
                    {% endif %}
                    {% if page.header.title %}
                        <h{{hsize}}>{{page.header.title}}</h{{hsize}}>
                    {% endif %}
                {% else %}
                    {% if page.header.title %}
                        <h{{hsize}}>{{page.header.title}}</h{{hsize}}>
                    {% endif %}
                    {% if page.header.section.subtitle %}
                        <h{{subhsize}} class="subh">{{page.header.section.subtitle}}</h{{subhsize}}>
                    {% endif %}      
                {% endif %}

    </div>
    {% endif %}
{% set galleryMetadata = page.header.gallerymetadata|default([]) %}

<div id="lightgallery{{ selfid }}" class="gallery_wrap cmn-content">
  {% for mediaImage in page.media %}
    {# Optionally, check that the file is an image (jpg, png, etc.) #}
    {% if mediaImage.extension in ['jpg','jpeg','png','gif'] %}
      {% set imageName = mediaImage.filename %}
      {# Look up matching metadata by filename (if available) #}
      {% set item = (galleryMetadata|filter(i => i.image == imageName))|first %}
      {% set alt   = item ? item.alt   : '' %}
      {% set title = item ? item.title : '' %}
      
      <a href="{{ mediaImage.url }}"
         class="element"
         data-sub-html="{{ title }}"
         title="{{ title }}">
         <img class="lightgallerymedia"
              src="{{ mediaImage.cropResize(520,520).url }}"
              alt="{{ alt }}">
      </a>
    {% endif %}
  {% endfor %}
</div>

    {% set download = 'false' %}
    {% if page.header.section.settings.download == 1 %}
        {% set download = 'true' %}
    {% endif %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        lightGallery(document.getElementById('lightgallery{{selfid}}'), {
            selector: '.element',
            download: {{download}}, 
            enableSwipe: true,
            escKey: true,
            // center images
            mode: 'lg-fade',
        });
    });
    </script>


    </div>
</div>
{% if page.header.section.wrap.container == 1 %}
</div></div>
<div class="row container"><div class="row container-inner">  {# start row #}
{% endif %} 
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
.img_module.{{selfid}} {
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}
  
</style>