{# {% set videoOne = page.find('/videos').media[page.header.section.content.right.video].url | e %} #}
{% set media = (page.header.section.content.right.media | first) %}

{% set mediaFilePath = 'theme://custom/images/hero/' ~ media.name %}
{% if page.header.section.content.module.enabled %}
{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}

{% endif %} 
<div class="hero-area position-relative d-flex">
    <div class="container "><div class="container-inner">
            <div class="hero-content">
            {% if page.header.section.content.title.show %}
            
                {% if page.header.section.content.subtitle.hsize == '0' %}<h1 class="subh">{{page.header.section.content.left.subtitle}}</h1>
                {% elseif page.header.section.content.subtitle.hsize == '1' %}<h2 class="subh">{{page.header.section.content.left.subtitle}}</h2>
                {% elseif page.header.section.content.subtitle.hsize == '2' %}<h3 class="subh">{{page.header.section.content.left.subtitle}}</h3>
                {% elseif page.header.section.content.subtitle.hsize == '3' %}<h4 class="subh">{{page.header.section.content.left.subtitle}}</h4>
                {% elseif page.header.section.content.subtitle.hsize == '4' %}<h5 class="subh">{{page.header.section.content.left.subtitle}}</h5>
                {% else %}<h6 class="subh">{{page.header.section.content.left.subtitle}}</h6>
                {% endif %}  
               

                {% if page.header.section.content.title.hsize == '1' %}<h2>{{page.header.title}}</h2>
                {% elseif page.header.section.content.title.hsize == '2' %}<h3>{{page.header.title}}</h3>
                {% elseif page.header.section.content.title.hsize == '3' %}<h4>{{page.header.title}}</h4>
                {% elseif page.header.section.content.title.hsize == '4' %}<h5>{{page.header.title}}</h5>
                {% elseif page.header.section.content.title.hsize == '5' %}<h6>{{page.header.title}}</h6>
                {% else %}<h1>{{page.header.title}}</h1>
                {% endif %}  
               
            {% endif %}  
                <p>{{page.header.section.content.left.text|markdown|raw}}</p>


                {% for button in header.section.content.left.button %}
                    {% if button.icon|first %}
                        {% set logo_file = (button.icon|first).name %}
                        <a href="{{button.link}}" class="cmn-link type-2 type-3" {% if button.open.type != 0 %}target="_blank"{% endif %}>
                                <img src="{{ url('theme://custom/images/' ~ logo_file)  }}"  class="btn_ico" />                            
                                {{button.text}}
                        </a>
                    {% else %}
                        <a href="{{button.link}}" class="box-btn type-2" {% if button.open.typ != 0 %}target="_blank"{% endif %}>{{button.text}}<i class="far fa-angle-right"></i></a>
                    {% endif %}
                   
                    {% if not loop.last %}<br />{% endif %} 

                {% endfor %}


                </div>
            </div>
            
 {% set fileType = page.header.section.content.right.media[page.header.section.content.right.media|keys|first].type %}
        <div class="hero-video position-absolute">
            {% if page.header.section.content.right.media %}
                {% if fileType starts with 'image/' %}


                    {% if theme_var('style.compress') %}
                        
                        {% include 'partials/imagesizing.html.twig' with {
                            'image': page.media[(page.header.section.content.right.media|keys|first)],
                            'title' : page.title, 
                            'alt': page.title, 
                            'objectfit': 'center center', 
                            'scale': 0, 
                            'resize': 0,
                            'classes': 'hero-media-image' } 
                        %}
                     {% else %}
                        <img src="{{ url(mediaFilePath)}}" alt="{{ page.title }}">
                    {% endif %}

                {% elseif fileType starts with 'video/' %}
                    <video autoplay muted loop src="{{ url(mediaFilePath)}}"></video>
                {% endif %}           
                        {# <video autoplay muted loop src="{{ url('theme://custom/images/video/' ~ videoOne)}}"></video> #}
            {% endif %}
        </div>    
   

 
 

    </div></div>    
</div>
{% if page.header.section.wrap.container == 1 %}

<div class="row container"><div class="row container-inner">  {# start row #}
{% endif %} 
{% endif %}
<style>
{% if page.header.section.content.hero.square.bgcolor %}
.hero-video::after{
    background-color: {{page.header.section.content.hero.square.bgcolor}}!important;
}
{% endif %}
</style>