{% if page.header.section.settings.module.enabled %}
</div></div>
<div class="icon-list-area">
    <div class="container"><div class="container-inner">
        {% if page.header.section.settings.title.show %}
        <div class="secondary-title">

                 {% if page.header.section.settings.subtitle.hsize == '0' %}<h1 class="subh">{{page.header.section.title.subHeading}}</h1>
                {% elseif page.header.section.settings.subtitle.hsize == '1' %}<h2 class="subh">{{page.header.section.title.subHeading}}</h2>
                {% elseif page.header.section.settings.subtitle.hsize == '2' %}<h3 class="subh">{{page.header.section.title.subHeading}}</h3>
                {% elseif page.header.section.settings.subtitle.hsize == '3' %}<h4 class="subh">{{page.header.section.title.subHeading}}</h4>
                {% elseif page.header.section.settings.subtitle.hsize == '4' %}<h5 class="subh">{{page.header.section.title.subHeading}}</h5>
                {% else %}<h6 class="subh">{{page.header.section.title.subHeading}}</h6>
                {% endif %}                  
                        
                {% if page.header.section.settings.title.hsize == '1' %}<h2>{{page.header.title}}</h2>
                {% elseif page.header.section.settings.title.hsize == '2' %}<h3>{{page.header.title}}</h3>
                {% elseif page.header.section.settings.title.hsize == '3' %}<h4>{{page.header.title}}</h4>
                {% elseif page.header.section.settings.title.hsize == '4' %}<h5>{{page.header.title}}</h5>
                {% elseif page.header.section.settings.title.hsize == '5' %}<h6>{{page.header.title}}</h6>
                {% else %}<h1>{{page.header.title}}</h1>
                {% endif %}  



        </div>
        {% endif %}
        <div class="row">
            {% for card in page.header.section.content.cards %}
            {# {% set icon = page.find('/images').media[card.icon].url | e %} #}
            {% set icon = (card.icon | first).name %}
            {# <div class="col-lg-3 col-md-6 mb-30"> #}
            <div class="{% if page.header.section.settings.column == 1 %}col-lg-12
                        {% elseif page.header.section.settings.column == 2 %}col-lg-6
                        {% elseif page.header.section.settings.column == 3 %}col-lg-4
                        {% elseif page.header.section.settings.column == 4 %}col-lg-8
                        {% elseif page.header.section.settings.column == 5 %}col-lg-3
                        {% elseif page.header.section.settings.column == 6 %}col-lg-2
                        {% else %}col-lg-6{% endif %}  mb-30">
                <div class="cmn-content icon-list-content">
                        {# <img src="{{ url('theme://custom/images/' ~ icon)  }}" alt="{{card.alt}}" class="img-fluid"> #}
                        {% set image = page.media[(card.icon|keys|first)] %}


                        {% if image  %}
                            {% if image.mime == 'application/pdf' %}
                            {% else %}
                             <div class="icn-icon">
                                 <img class="media" style="width:100%;"  alt="{{ member.alt }}" src="{{ image.url }}" />               
                             </div>
                            {% endif %}

                        {% endif %}                        

                    <h4>{{card.heading}}</h4>
                    <p>{{card.text}}</p>
                        {% if image  %}
                            {% if image.mime == 'application/pdf' %}
                            <div class="icn-icon">
                                <a href="{{ image.url }}" target="_blank" class="pdf-link">
                                    Download PDF<i class="far fa-angle-right"></i>
                                </a>                           
                             </div>
                            {% endif %}
                        {% endif %}       
                    <a href="{{card.link}}" class="box-btn" {% if card.open.type %}target="_blank"{% endif %}>
                        {{card.b_name}}<i class="far fa-angle-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div></div>
</div>
<div class="row container"><div class="row container-inner">
{% endif %}
<style>
{% if page.header.section.settings.bgcolor %}
.icon-list-area{
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}


.cmn-content.icon-list-content p{
{% if page.header.section.settings.txtcolor %}
    color: {{page.header.section.settings.txtcolor}};
{% endif %}
}
.cmn-content.icon-list-content p, .cmn-content.icon-list-content h1, .cmn-content.icon-list-content h2, .cmn-content.icon-list-content h3, 
.cmn-content.icon-list-content h4, .cmn-content.icon-list-content h5, .cmn-content.icon-list-content h6, .cmn-content.icon-list-content{

{% if page.header.section.settings.text.alignment == 0 %}
    text-align: left;
{% elseif page.header.section.settings.text.alignment == 1 %}
    text-align: center;
{% elseif page.header.section.settings.text.alignment == 2 %}
    text-align: right;
{% endif %} 
}

</style>
