{% if page.header.section.settings.module.enabled %}
{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}
<div class="row container img_module"><div class="row container-inner">
{% endif %}  
<div class="{% if page.header.section.settings.module.width == 1 %}col-12 col-md-12
            {% elseif page.header.section.settings.module.width == 2 %}col-12 col-md-6
            {% elseif page.header.section.settings.module.width == 3 %}col-12 col-md-4
            {% elseif page.header.section.settings.module.width == 4 %}col-12 col-md-8
            {% elseif page.header.section.settings.module.width == 5 %}col-6 col-md-3
            {% elseif page.header.section.settings.module.width == 6 %}col-4 col-md-2
            {% else %}col-12 col-md-6{% endif %} 
             section_wrap"
    style="{% if page.header.section.settings.bgcolor %} background-color: {{page.header.section.settings.bgcolor}};{% endif %}" >   
    <div class="container">
    {% if page.header.section.settings.title.show %}
    <div class="title_wrap cmn-content">
        {% if page.header.section.subtitle %}


                 {% if page.header.section.settings.subtitle.hsize == '0' %}<h1 class="text-uppercase">{{page.header.section.subtitle}}</h1>
                {% elseif page.header.section.settings.subtitle.hsize == '1' %}<h2 class="text-uppercase">{{page.header.section.subtitle}}</h2>
                {% elseif page.header.section.settings.subtitle.hsize == '2' %}<h3 class="text-uppercase">{{page.header.section.subtitle}}</h3>
                {% elseif page.header.section.settings.subtitle.hsize == '3' %}<h4 class="text-uppercase">{{page.header.section.subtitle}}</h4>
                {% elseif page.header.section.settings.subtitle.hsize == '4' %}<h5 class="text-uppercase">{{page.header.section.subtitle}}</h5>
                {% else %}<h6 class="text-uppercase">{{page.header.section.subtitle}}</h6>
                {% endif %}                  
               


        {% endif %}
        {% if page.header.section.title %}

         
                {% if page.header.section.settings.title.hsize == '1' %}<h2>{{page.header.section.title}}</h2>
                {% elseif page.header.section.settings.title.hsize == '2' %}<h3>{{page.header.section.title}}</h3>
                {% elseif page.header.section.settings.title.hsize == '3' %}<h4>{{page.header.section.title}}</h4>
                {% elseif page.header.section.settings.title.hsize == '4' %}<h5>{{page.header.section.title}}</h5>
                {% elseif page.header.section.settings.title.hsize == '5' %}<h6>{{page.header.section.title}}</h6>
                {% else %}<h1>{{page.header.section.title}}</h1>
                {% endif %}  



        {% endif %}
    </div>
    {% endif %}

    {% if page.header.section.image %}
    <div class="img_wrap cmn-content">
    {# 
        {% set img = (page.header.section.image | first).name %}
        <img  src="{{ url('theme://images/' ~ img)  }}" alt="{{page.header.section.alt_tag}}" class="img-fluid"> 
    #}

    {% if page.header.section.image | first is iterable %}
      {% set imgtemp = page.header.section.image | first %}
      {% set image = page.media[imgtemp.name] %}
    {% else %}
      {% set image = page.media | first %}
    {% endif %}

    {% if page.header.scale == 1 %}
        {% set resize = 3 / 4 %}
    {% elseif page.header.scale == 2 %}
        {% set resize = 9 / 16 %}
    {% elseif page.header.scale == 3 %}
        {% set resize = 1 / 2.35 %}
    {% elseif page.header.scale == 4 %}
        {% set resize = 1 %}
    {% elseif page.header.scale == 5 %}
        {% set resize = 4 / 3 %}
    {% endif %}    


{% if page.header.imagesizing == 1 %}
    {% if page.header.section.settings.img.column == 1  %}
            <picture>
          <source media="(min-width:992px)" srcset="{% if page.header.cropzoom %}{{ image.resize(1250,1250 * resize).url }}{% else %}{{ image.cropZoom(1250,1250 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(2500,2500 * resize).url }}{% else %}{{ image.cropZoom(2500,2500 * resize).url }}{% endif %} 2x">
          <source media="(min-width:870px)" srcset="{% if page.header.cropzoom %}{{ image.resize(840,840 * resize).url }}{% else %}{{ image.cropZoom(840,840 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(1680,1680 * resize).url }}{% else %}{{ image.cropZoom(1680,1680 * resize).url }}{% endif %} 2x">
          <source media="(min-width:500px)" srcset="{% if page.header.cropzoom %}{{ image.resize(510,510 * resize).url }}{% else %}{{ image.cropZoom(510,510 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(1020,1020 * resize).url }}{% else %}{{ image.cropZoom(1020,1020 * resize).url }}{% endif %} 2x">
          <source media="(max-width:499px)" srcset="{% if page.header.cropzoom %}{{ image.resize(450,450 * resize).url }}{% else %}{{ image.cropZoom(450,450 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
              <img class="media" style="width:100%;" title="{{ page.header.section.title }}" alt="{{ page.header.section.alt_tag }}" src="{% if page.header.cropzoom %}{{ image.resize(1280,1280 * resize).url }}{% else %}{{ image.cropZoom(1280,1280 * resize).url }}{% endif %}" />
            </picture>
    {% else %}
            <picture>
          <source media="(min-width:1220px)" srcset="{% if page.header.cropzoom %}{{ image.resize(610,610 * resize).url }}{% else %}{{ image.cropZoom(610,610 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
        <source media="(min-width:992px)" srcset="{% if page.header.cropzoom %}{{ image.resize(450,450 * resize).url }}{% else %}{{ image.cropZoom(450,450 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(800,800 * resize).url }}{% else %}{{ image.cropZoom(800,800 * resize).url }}{% endif %} 2x">
      <source media="(min-width:500px)" srcset="{% if page.header.cropzoom %}{{ image.resize(510,510 * resize).url }}{% else %}{{ image.cropZoom(510,510 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
    <source media="(max-width:499px)" srcset="{% if page.header.cropzoom %}{{ image.resize(450,450 * resize).url }}{% else %}{{ image.cropZoom(450,450 * resize).url }}{% endif %} 1x, {% if page.header.cropzoom %}{{ image.resize(900,900 * resize).url }}{% else %}{{ image.cropZoom(900,900 * resize).url }}{% endif %} 2x">
              <img class="media" style="width:100%;" title="{{ page.header.section.title }}" alt="{{ page.header.section.alt_tag }}" src="{% if page.header.cropzoom %}{{ image.resize(1280,1280 * resize).url }}{% else %}{{ image.cropZoom(1280,1280 * resize).url }}{% endif %}" />
            </picture>
    {% endif %}
{% else %}
    <img class="media" title="{{ page.header.section.title }}" alt="{{ page.header.section.alt_tag }}" src="{{ image.url }}" />

{% endif %}

    </div>
    {% endif %}
    {% if page.header.section.image_description %}
    <div class="content_wrap cmn-content">
       <p> {{page.header.section.image_description}} </p>
    </div>
    {% endif %}
    </div>
</div>
{% if page.header.section.wrap.container == 1 %}
</div></div>
<div class="row container"><div class="row container-inner">  {# start row #}
{% endif %} 
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
.img_module{
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}
  
</style>