{% if page.header.sec_two.settings.module.enabled %}
</div></div>

{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
<div class="brand-area {{selfid}}"><div class="container-inner">
        <div class="secondary-title text-center">
            {% if page.header.sec_two.settings.title.show %}
                
                 {% if page.header.sec_two.settings.subtitle.hsize == '0' %}<h1 class="subh">{{page.header.sec_two.subtitle}}</h1>
                {% elseif page.header.sec_two.settings.subtitle.hsize == '1' %}<h2 class="subh">{{page.header.sec_two.subtitle}}</h2>
                {% elseif page.header.sec_two.settings.subtitle.hsize == '2' %}<h3 class="subh">{{page.header.sec_two.subtitle}}</h3>
                {% elseif page.header.sec_two.settings.subtitle.hsize == '3' %}<h4 class="subh">{{page.header.sec_two.subtitle}}</h4>
                {% elseif page.header.sec_two.settings.subtitle.hsize == '4' %}<h5 class="subh">{{page.header.sec_two.subtitle}}</h5>
                {% else %}<h6 class="subh">{{page.header.sec_two.subtitle}}</h6>
                {% endif %}                  
               

                {% if page.header.sec_two.settings.title.hsize == '1' %}<h2>{{page.header.title}}</h2>
                {% elseif page.header.sec_two.settings.title.hsize == '2' %}<h3>{{page.header.title}}</h3>
                {% elseif page.header.sec_two.settings.title.hsize == '3' %}<h4>{{page.header.title}}</h4>
                {% elseif page.header.sec_two.settings.title.hsize == '4' %}<h5>{{page.header.title}}</h5>
                {% elseif page.header.sec_two.settings.title.hsize == '5' %}<h6>{{page.header.title}}</h6>
                {% else %}<h1>{{page.header.title}}</h1>
                {% endif %}  
                
            {% endif %} 
        </div>
        <div class="brand-flex-wrapper d-flex flex-wrap justify-content-center">
            {% for brandLogo in page.header.sec_two.logos %}
            <div class="brand-item d-inline-flex align-items-center justify-content-center">
                <a href="{{brandLogo.link}}" {% if brandLogo.open.type %}target="_blank"{% endif %}>  
                {% if brandLogo.src %}
                    {% set logo_file = (brandLogo.src|first).name %}
                    <img id="headerlogo" src="{{ url('theme://custom/images/' ~ logo_file)  }}" alt="{{ brandLogo.name }}" class="img-fluid" />
                {% endif %}                          
                </a>    
            </div>
            {% endfor %}
        </div>        
    </div></div>
</div></div>
<div class="row container"><div class="row container-inner">
{% endif %}
<style>
{% if page.header.sec_two.settings.bgcolor %}
.brand-area.{{selfid}} {
    background-color: {{page.header.sec_two.settings.bgcolor}};
}
{% endif %}
</style>