{% if page.header.section.settings.module.enabled %}
</div></div>
<div class="price-area">
    <div class="container"><div class="container-inner">
        <div class="primary-title">
            {% if page.header.section.settings.title.show %}

                 {% if page.header.section.settings.subtitle.hsize == '0' %}<h1 class="subh">{{page.header.section.title.subHeading}}</h1>
                {% elseif page.header.section.settings.subtitle.hsize == '1' %}<h2 class="subh">{{page.header.section.title.subHeading}}</h2>
                {% elseif page.header.section.settings.subtitle.hsize == '2' %}<h3 class="subh">{{page.header.section.title.subHeading}}</h3>
                {% elseif page.header.section.settings.subtitle.hsize == '3' %}<h4 class="subh">{{page.header.section.title.subHeading}}</h4>
                {% elseif page.header.section.settings.subtitle.hsize == '4' %}<h5 class="subh">{{page.header.section.title.subHeading}}</h5>
                {% else %}<h6 class="subh">{{page.header.section.title.subHeading}}</h6>
                {% endif %}                  
                        
                {% if page.header.section.settings.title.hsize == '1' %}<h2>{{page.header.title}}</h2>
                {% elseif page.header.section.settings.title.hsize == '2' %}<h3>{{page.header.title}}</h3>
                {% elseif page.header.section.settings.title.hsize == '3' %}<h4>{{page.header.title}}</h4>
                {% elseif page.header.section.settings.title.hsize == '4' %}<h5>{{page.header.title}}</h5>
                {% elseif page.header.section.settings.title.hsize == '5' %}<h6>{{page.header.title}}</h6>
                {% else %}<h1>{{page.header.title}}</h1>
                {% endif %}  
            
            {% endif %}
            <p>{{page.header.section.title.text}}</p>
        </div>

        <div class="price-card-g-wrapper">
            {% for card in page.header.section.content.cards %}
            <div class="price-card {{ card.highlight ? 'highlight' }}">
                <h5 class="price">{{card.price}}.– <span class="d-block">{{card.priceText}}</span></h5>
                <p>{{card.text}}</p>
                <a href="{{card.link}}" class="box-btn {{ card.highlight ? 'type-2' : 'type-1' }}" {% if card.open.type %}target="_blank"{% endif %}>{{card.anchor}}<i class="far fa-angle-right"></i></a>
            </div>
            {% endfor %}
        </div>
    </div></div>
</div>
<div class="container"><div class="container-inner">
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
.price-area{
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}


{% if page.header.section.settings.pricecolor %}
.price-card .price{
    color: {{page.header.section.settings.pricecolor}};
}
{% endif %}

</style>
