{% if page.header.section.settings.module.enabled %}
</div></div>
{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
<div class="price-area {{selfid}}">
    <div class="container"><div class="container-inner">
        <div class="primary-title">
            {% if page.header.section.settings.title.show %}

                {% import 'macros/macros.html.twig' as utils %}
                {{ utils.render_headings(page, page.header.section.title.subHeading) }}

            {% endif %}
            <p>{{page.header.section.title.text |markdown}}</p>
        </div>

        <div class="price-card-g-wrapper {{selfid}}">
            {% for card in page.header.section.content.cards %}
            <div class="price-card {{selfid}} {{ card.highlight ? 'highlight' }}">
                <h5 class="price">{{card.price ? card.price ~ '.– ' }}
                {% if card.priceText %}
                     <span class="d-block">{{ card.priceText }}</span>
                {% endif %}
                </h5>
                {% if card.text %}
                    <p>{{ card.text }}</p>
                {% endif %}
                {% if card.link and card.anchor %}
                    <a href="{{card.link}}" class="box-btn {{ card.highlight ? 'type-2' : 'type-1' }}" {% if card.open.type %}target="_blank"{% endif %}>{{card.anchor}}<i class="far fa-angle-right"></i></a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div></div>
</div>
<div class="container"><div class="container-inner">
{% endif %}

{% set card_count = page.header.section.content.cards|length %}
<style>
.price-card-g-wrapper.{{selfid}} {
    
    {% if card_count == 1 %}
        grid-template-columns: 1fr;
    {% elseif card_count == 2 %}
        grid-template-columns: repeat(2, 1fr);
    {% elseif card_count == 3 %}
        grid-template-columns: repeat(3, 1fr);
    {% elseif card_count == 4 %}
        grid-template-columns: repeat(4, 1fr);
    {% elseif card_count == 5 %}
        grid-template-columns: repeat(5, 1fr);
    {% else %}
        grid-template-columns: repeat(6, 1fr);
    {% endif %}

}
@media (max-width: 1600px) {

    {% if card_count > 3 %}
    .price-card-g-wrapper.{{selfid}} {
        grid-template-columns: repeat(3, 1fr);
    }
    {% else %}
    
    .price-card-g-wrapper.{{selfid}} {
        grid-template-columns: repeat(2, 1fr);
    }
    {% endif %}

}
@media (max-width: 1200px) {
    

    .price-card-g-wrapper.{{selfid}} {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (max-width: 991px) {
    
    
    .price-card-g-wrapper.{{selfid}} {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    
    
    .price-card-g-wrapper.{{selfid}} {
        grid-template-columns: repeat(1, 1fr);
    }
}



{% if page.header.section.settings.bgcolor %}
.price-area.{{selfid}} {
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}


{% if page.header.section.settings.pricecolor %}
.price-card.{{selfid}} .price{
    color: {{page.header.section.settings.pricecolor}};
}
{% endif %}

</style>
