{% if page.header.section.settings.module.enabled %}
</div></div>
{% set selfid = 'module-' ~ page.template|md5|slice(0, 8) ~ '-' ~ page.slug|md5|slice(0, 8)  %}
<div class="team-area {{selfid}}{% if page.header.section.settings.design.enabled == 1 %} team-design{% endif %}">
    <div class="container"><div class="container-inner">
        {% if page.header.section.settings.title.show %}
        <div class="secondary-title">
                {% import 'macros/macros.html.twig' as utils %}
                {{ utils.render_headings(page, page.header.section.title.subHeading) }}
        </div>
        {% endif %}
        <div class="row">
            {% for member in page.header.section.content.members %}
            {% set img = (member.img | first).name %}
            <div class="{% if page.header.section.settings.column == 1 %}col-lg-12
                        {% elseif page.header.section.settings.column == 2 %}col-lg-6
                        {% elseif page.header.section.settings.column == 3 %}col-lg-4
                        {% elseif page.header.section.settings.column == 4 %}col-lg-3
                        {% elseif page.header.section.settings.column == 6 %}col-lg-2
                        {% else %}col-lg-6{% endif %}  mb-30">
                {% if member.onlyshowtext == 1 %}
                    <div class="team-onlyshowtext">
                        <h3>{{ member.name }}</h3>
                        <p>{{ member.additional_txt }}</p>
                    </div>
                {% else %}
                    <div class="team-member{% if page.header.section.settings.design.enabled == 1 %} team-member--hover {% endif %}">
                        <div class="member-img">
                            {% set resize = 4 / 3 %}
                            {% set cropzoom = 0 %}
                            {% if page.header.section.settings.nocropzoom.enabled == 1 %}
                                {% set cropzoom = 1 %}
                            {% endif %}
                            
                            {# Get image from page media if it exists, otherwise use theme path #}
                            {% set image = page.media[(member.img|keys|first)] %}
                            {% set is_svg = image.url|lower ends with '.svg' %}
                            
                            {% if theme_var('style.compress') %}
                                {% include 'partials/imagesizing.html.twig' with {
                                    'image': image, 
                                    'title' : member.name, 
                                    'alt': member.alt, 
                                    'objectfit': page.header.objectfit, 
                                    'scale': 0, 
                                    'resize': 0,
                                    'classes': 'media' } 
                                %}
                            {% else %}
                                {# Check if image exists in page media (new @self method) #}
                                {% if page.media[img] is defined %}
                                    <img class="media {{selfid}}" alt="{{ member.alt }}" 
                                         src="{% if is_svg %}{{ page.media[img].url }}{% elseif cropzoom %}{{ page.media[img].resize(1280).url }}{% else %}{{ page.media[img].cropZoom(1280,1280 * resize).url }}{% endif %}" />
                                {# Fallback to old theme path for backward compatibility #}
                                {% else %}
                                    {% set themePath = url('theme://custom/images/' ~ img) %}
                                    <img class="media {{selfid}}" alt="{{ member.alt }}" 
                                         src="{% if is_svg %}{{ themePath }}{% elseif cropzoom %}{{ image.resize(1280).url }}{% else %}{{ image.cropZoom(1280,1280 * resize).url }}{% endif %}" />
                                {% endif %}
                            {% endif %}
                        </div>

                        {# If design.enabled == 1, we want an overlay that appears on hover #}
                        {% if page.header.section.settings.design.enabled == 1 %}
                            <div class="team-member-overlay">
                                <h3>{{ member.name }}</h3>
                                <ul class="ct-list">
                                    {% if member.linkedin.linkedinProfile %}
                                    <li>
                                        <i class="fal fa-envelope"></i>
                                        <a href="mailto:{{ member.mail }}" class="d-inline-block">{{ member.mail }}</a>
                                    </li>
                                    <li>
                                        <i class="fab fa-linkedin"></i>
                                        <a href="{{ member.linkedin.linkedinProfile }}" target="_blank"
                                        class="d-inline-block text-decoration-underline">
                                            {{ member.linkedin.linkedin_user }}
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if member.phone %}
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <a href="tel:{{ member.phone }}">{{ member.phone }}</a>
                                    </li>
                                    {% endif %}
                                </ul>
                                
                                {% if member.additional_txt or member.designation %}
                                <p>{% if member.designation %}{{member.designation}}<br /><br />{% endif %}{{ member.additional_txt|nl2br }}</p>
                                {% endif %}
                                {% if member.mail %}<a href="mailto:{{member.mail}}" class="mailtokachel">{{member.mail}}</a>{% endif %}
                            </div>
                        {% else %}
                            <div class="secondary-title member-content mb-0">
                                <h6 class="subh">{{member.designation}}</h6>
                                <h3>{{member.name}}</h3>
                                <ul class="ct-list">
                                    {% if member.linkedin.linkedinProfile %}
                                    <li><i class="fal fa-envelope"></i><a href="mailto:{{member.mail}}" class="d-inline-block">{{member.mail}}</a></li>
                                    <li><i class="fab fa-linkedin"></i><a href="{{member.linkedin.linkedinProfile}}" target="_blank"
                                            class="d-inline-block text-decoration-underline">{{member.linkedin.linkedin_user}}</a>
                                    </li>
                                    {% endif %}
                                    {% if member.phone %}
                                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:{{member.phone}}">{{member.phone}}</a></li>
                                    {% endif %}
                                </ul>
                                {% if member.additional_txt %}
                                <p>{{member.additional_txt}}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div></div>
</div>
<div class="container"><div class="container-inner">
{% endif %}

<style>
{% if page.header.section.settings.bgcolor %}
.team-area.{{selfid}}{
    background-color: {{page.header.section.settings.bgcolor}};
}
{% endif %}
</style>