{% if page.header.section.settings.module.enabled %}
    {# {% if page.header.section.background.image %} {% set img = (page.header.section.background.image | first).name %} {% endif %} #}
{% if page.header.section.wrap.container == 1 %}
</div></div>  {#  end row #}
<div class="row container">
<div class="row container-inner">
{% endif %}
<div class="{% if page.header.section.settings.module.width == 1 %}col-12 col-md-12
            {% elseif page.header.section.settings.module.width == 2 %}col-12 col-md-6
            {% elseif page.header.section.settings.module.width == 3 %}col-12 col-md-4
            {% elseif page.header.section.settings.module.width == 4 %}col-12 col-md-8
            {% elseif page.header.section.settings.module.width == 5 %}col-6 col-md-3
            {% elseif page.header.section.settings.module.width == 6 %}col-4 col-md-2
            {% else %}col-12 col-md-6{% endif %} txt_module section_wrap {{page.header.section.settings.classes}}" 
     style="{% if page.header.section.settings.txt.align == 1 %}text-align: center;{% elseif page.header.section.settings.txt.align == 2 %}text-align: right;{% endif %}
            {% if page.header.section.settings.padding and page.header.section.settings.padding is empty %}padding:{{page.header.section.settings.padding}};{% endif %}"
>

{% if page.header.section.settings.bgcolor %}<div class="bgcolorwrapper" style="background-color:{{page.header.section.settings.bgcolor}};{% if page.header.section.settings.padding %}padding:{{page.header.section.settings.padding}};{% endif %}">{% endif %}

    {% if page.header.section.settings.title.show %}
    <div class="title_wrap cmn-content">
        {% if page.header.section.subtitle %}

                 {% if page.header.section.settings.subtitle.hsize == '0' %}<h1 class="subh">{{page.header.section.subtitle}}</h1>
                {% elseif page.header.section.settings.subtitle.hsize == '1' %}<h2 class="subh">{{page.header.section.subtitle}}</h2>
                {% elseif page.header.section.settings.subtitle.hsize == '2' %}<h3 class="subh">{{page.header.section.subtitle}}</h3>
                {% elseif page.header.section.settings.subtitle.hsize == '3' %}<h4 class="subh">{{page.header.section.subtitle}}</h4>
                {% elseif page.header.section.settings.subtitle.hsize == '4' %}<h5 class="subh">{{page.header.section.subtitle}}</h5>
                {% else %}<h6 class="subh">{{page.header.section.subtitle}}</h6>
                {% endif %}


        {% endif %}
        {% if page.header.title %}

                {% if page.header.section.settings.title.hsize == '1' %}<h2>{{page.header.title}}</h2>
                {% elseif page.header.section.settings.title.hsize == '2' %}<h3>{{page.header.title}}</h3>
                {% elseif page.header.section.settings.title.hsize == '3' %}<h4>{{page.header.title}}</h4>
                {% elseif page.header.section.settings.title.hsize == '4' %}<h5>{{page.header.title}}</h5>
                {% elseif page.header.section.settings.title.hsize == '5' %}<h6>{{page.header.title}}</h6>
                {% else %}<h1>{{page.header.title}}</h1>
                {% endif %}

        {% endif %}
    </div>
    {% endif %}
    {% if page.header.section.text %}
    <div class="content_wrap cmn-content">
        {{page.header.section.text|markdown }}
    </div>
    {% elseif content %}
    {{ content|markdown }}
    {% endif %}
    {% if page.header.section.background.media %}
        {% set media = (page.header.section.background.media | first).name %}
        {% set mediaFilePath = page.media[media].url ?: page.parent.media[media].url %}
        {% set fileType = page.header.section.background.media[page.header.section.background.media|keys|first].type %}
        <div class="media-wrap">
            {% if page.header.section.background.media %}
                {% if fileType starts with 'image/' %}
                    <a href="{{ url(mediaFilePath)}}" alt="{{ media }}" download>download image</a>
                {% elseif fileType starts with 'application/' %}
                    <a href="{{ url(mediaFilePath)}}" alt="{{ media }}" download>download pdf</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <div class="button_wrap cmn-content">
    
    {% for button in page.header.section.buttons %}
        <a href="{{button.link}}" class="box-btn" {% if button.open.type != 1 %}target="_blank"{% endif %}>
            {{button.text}}<i class="fal fa-angle-right"></i>
        </a>
        {% if not loop.last %}<br /><br />{% endif %}
    {% endfor %}
    </div>
    

{% if page.header.section.settings.bgcolor %}</div>{% endif %}

</div>
{% if page.header.section.wrap.container == 1 %}
</div></div>
<div class="row container"><div class="row container-inner"> {# start row #}
{% endif %}
{% endif %}
