<footer class="footer-area test">
    <div class="footer-top">
        <div class="container-fluid cs-padding footer_inner">
            <div class="ft-g-wrapper">
              {% set index = 1 %}
              {% for column in theme_var('top.footer.columns') %}
                <div class="ft-widget{% if index == 1 %}-first{% endif %}">
                    <h3>{{column.heading| nl2br | raw}}</h3>
                    {% if column.social.enabled %}
                    <div class="social-wrap d-flex align-items-center flex-wrap">
                        <h5>Folge uns</h5>
                        <ul class="social-links d-flex align-items-center">
                            {% for social in theme_var('top.footer.socials') %}
                            <li><a href="{{social.link}}" target="_blank">{{social.icon | raw}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if column.contact.enabled %}
                    <p>
                        {% if theme_var('footer.mail') %}
                            <a href="mailto:{{ theme_var('footer.mail')|safe_email }}">
                                {{ theme_var('footer.mail')|safe_email }}
                            </a> 
                        {% endif %}        
                        {% if theme_var('footer.phone') %}
                            &nbsp;|&nbsp; 
                            <a href="tel:{{ theme_var('footer.phone')|format_phone }}">
                                {{ theme_var('footer.phone') }}
                            </a>
                        {% endif %}    
                    </p>
                    {% endif %}
                    {% if column.navigation.enabled %}
                        <ul class="ft-nv">
                            {% for p in pages.children.visible | slice(0, (theme_var('header.nav.length'))) %}
                            {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
                            {% if (p.home() and p.header.markdown.title == false) or p.home() == false %}
                                <li>
                                <a href="{{ p.url }}" class="{{ active_page }}" link>
                                    {{ p.menu }}
                                </a>
                                </li>
                            {% endif %}

                            {% endfor %}
                        </ul>
                    {% endif %}
                     <p>{{column.text | nl2br | raw}}</p>
                </div>
                {% set index = index + 1 %}
              {% endfor %}
            </div>
        </div>
    </div>
    {% if theme_var('footer.bottom.enabled') %}
    <div class="footer-bottom">
        <div class="container-fluid cs-padding  footer_inner">
            <div class="row">
                {% if theme_var('footer.copyright.enabled') %}
                <div class="col-md-6">
                    <p class="m-0">{{ theme_var('footer.copyright.text') }}</p>
                </div>
                {% endif %}
                <div class="{% if theme_var('footer.copyright.enabled') %} col-md-6 {% else %} col-md-12 {% endif %}">
                    <ul class="ft-links d-md-flex align-items-center justify-content-end">
                        <li>
                        {% if theme_var('footer.impressum.enabled') %}
                            <a href="{{ base_url }}{{ theme_var('footer.impressum.link') }}">
                            Impressum
                            </a>
                        {% endif %}
                        </li>
                        <li>
                        {% if theme_var('footer.datenschutz.enabled') %}
                            <a href="{{ base_url }}{{ theme_var('footer.datenschutz.link') }}">
                            Datenschutz
                            </a>
                        {% endif %}
                        </li>
                        <li>
                        {% if theme_var('footer.agb.enabled') %}    
                            <a href="{{ base_url }}{{ theme_var('footer.agb.link') }}">
                            AGB
                            </a>
                        {% endif %}
                        </li>
                        <li>
                        {% if theme_var('footer.sitemap.enabled') %}
                            <a href="{{ base_url }}{{ theme_var('footer.sitemap.link') }}">
                            Sitemap
                            </a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}  
</footer>