{% macro nav_loop(page) %}
  {% import _self as macros %}
  {% for p in page.children.visible %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    <li>
      <a href="{{ p.url }}" class="{{ active_page }}">
        {{ p.menu }}
      </a>
      {% if p.children.visible.count > 0 %}
      <ul>
        {{ macros.nav_loop(p) }}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}


{% macro validate_hsize(size, default) %}
    {% set result = default %}
    {% if size is defined and size is not empty %}
        {% set numeric_size = size + 1 %}
        {% if numeric_size > 0 and numeric_size < 7 %}
            {% set result = numeric_size %}
        {% endif %}
    {% endif %}
    {{- result -}}
{% endmacro %}